body{
    margin: 0;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/bg.jpg);
}
.calculator{
    height: 520px;
    width: 320px;
    background-color: #eaedef;
    margin: 0 auto;
    position: relative;
    top:50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(149, 37, 37);   
}
button{
    border-radius: 5px;
}